 <footer class="footer">
  <p>Author: Kody Abbey</p>
  <div class="links">
    <a href="https://github.com/kody-abbey">GitHub</a>
    <a href="https://www.linkedin.com/in/kohei-a-6373b4253/">LinkedIn</a>
  </div>
</footer> 